.main-container {
  width: 100%;
  padding-top: 8rem;
  height: 100vh;
  text-align: center;
}

.content-wrapper {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.intro-text {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.15em;
  color: #6b7280; /* Gray-600 */
}

.greeting {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #374151; /* Gray-700 */
}

.highlight {
  color: #5651e5; /* Custom Purple */
}

.role {
  color: #374151; /* Gray-700 */
}

.dynamic-role {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.875rem; /* 30px */
  color: #5651e5;
}

.description {
  font-family: "Kulim Park", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #6b7280; /* Gray-600 */
  max-width: 85%;
  margin: auto;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.icon-wrapper {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-wrapper:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 1.5rem;
  color: #6b7280; /* Gray-600 */
}
